<h1>Boa noite, cheirosa!!!</h1>
<h2><a href="/">Home</a></h2>
<h2><a href="/login">Login</a></h2>
<h2><a href="/register">Cadastro</a></h2>
<h2><a href="/user/usuario_x">Usuário X</a></h2>
<h2><a href="/search?q=como_ganhar_do_gordao_e_pikachu&page=1">Busca</a></h2>

<h2><a href="/ds1">Dark Souls 1</a></h2>
<ul>
  <li><a href="/ds1/itens">Itens</a></li>
  <li><a href="/ds1/personagens">Personagens</a></li>
  <li><a href="/ds1/regioes">Regiões</a></li>
</ul>
<h2><a href="/ds2">Dark Souls 2</a></h2>
<ul>
  <li><a href="/ds2/itens">Itens</a></li>
  <li><a href="/ds2/personagens">Personagens</a></li>
  <li><a href="/ds2/regioes">Regiões</a></li>
</ul>
<h2><a href="/ds3">Dark Souls 3</a></h2>
<ul>
  <li><a href="/ds3/itens">Itens</a></li>
  <li><a href="/ds3/personagens">Personagens</a></li>
  <li><a href="/ds3/regioes">Regiões</a></li>
</ul>
