<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Souls - {{title}}</title>
  <style>

  body{
    font-family: 'Montserrat', sans-serif;
    color: #e1e3e2;
    background-color: #191c1c;
    font-size: 1rem;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #191c1c;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffb77d;
    border-radius: 10px;
  }

  a {
    color: #e1e3e2;
  }

  a:visited {
    color: #f57542;
  }

</style>
</head>
<body>

  <div id="content">
    {{{body}}}
  </div>

</body>
</html>
